<mat-toolbar>
  <button
    [matMenuTriggerFor]="menu"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="goToDashboard()">Dashboard</button>
    <button mat-menu-item (click)="goToLeaderboard()">Leaderboard</button>
    <button mat-menu-item (click)="goToBlog()">Blog</button>
    <button mat-menu-item (click)="goToPrizeCatalog()">Prize Catalog</button>
  </mat-menu>
  <span class="example-spacer"></span>
  <span class="title"
    ><h2 routerLink="/welcome" (click)="goBackToMain()">Mr Bin</h2></span
  >
  <span class="go-back"
    ><button mat-raised-button color="warn" (click)="logout()">
      Logout
    </button></span
  >
</mat-toolbar>
