h2 {
  font-size: 2.5vw;
  padding-left: 1vw;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
mat-toolbar {
  background-color: #0d4b01;
  color: white;
}
.title {
  margin-right: 85vw;
}
.go-back{
  margin-left: -32px;
}
