.main-content {
  background-color: #ecfff6;
  height: 100%;
  width: 100%;
  color: black;
}

::ng-deep snack-bar-container.danger {
  background-color: #f44336;
  color: #fff;
}

::ng-deep snack-bar-container.success {
  background-color: #69f0ae;
  color: #000000de;
}

