.main-content {
  background-color: #64672c;
  height: 100%;
  width: 100%;
  color: white;
}

::ng-deep snack-bar-container.danger {
  background-color: #f44336;
  color: #fff;
}

::ng-deep snack-bar-container.success {
  background-color: #69f0ae;
  color: #000000de;
}
