.login {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-header {
  margin-bottom: 0.5rem;
}

.login-card {
  width: 300px;
}

.flex-center {
  align-items: center;
  justify-content: center;
  display: flex;
}

.login-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}
